<?xml version="1.0"?>

<config>
    <modules>
        <Securetrading_Stpp>
            <version>3.5.0</version>
        </Securetrading_Stpp>
    </modules>
    
    <frontend>
        <layout>
            <updates>
                <securetrading module="Securetrading_Stpp">
					<file>securetrading.xml</file>
                </securetrading>
            </updates>
        </layout>
        
        <routers>
            <securetrading_stpp>
                <use>standard</use>
                <args>
                    <module>Securetrading_Stpp</module>
                    <frontName>securetrading</frontName>
                </args>
            </securetrading_stpp>
            <checkout>
            	<args>
	            	<modules>
	            		<Securetrading_Stpp before="Mage_Checkout">Securetrading_Stpp</Securetrading_Stpp>
	            	</modules>
            	</args>
            </checkout>
        </routers>
        <secure_url>
            <securetrading_redirect_post_onepage>/securetrading/redirect_post_onepage</securetrading_redirect_post_onepage>
            <securetrading_redirect_post_multishipping>/securetrading/redirect_post_multishipping</securetrading_redirect_post_multishipping>
	    <securetrading_direct_post>/securetrading/direct_post</securetrading_direct_post>
            <securetrading_direct_return>/securetrading/direct/return</securetrading_direct_return>
            <securetrading_payment_location>/securetrading/payment/location</securetrading_payment_location>
	    <securetrading_tokenization>/securetrading/tokenization</securetrading_tokenization>
        </secure_url>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <securetrading module="Securetrading_Stpp">
					<file>securetrading.xml</file>
                </securetrading>
            </updates>
        </layout>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Securetrading_Stpp before="Mage_Adminhtml">Securetrading_Stpp</Securetrading_Stpp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <global>
        <resources>
            <securetrading_stpp>
                <setup>
                    <module>Securetrading_Stpp</module>
                </setup>
            </securetrading_stpp>
        </resources>
        <helpers>
           <securetrading_stpp>
                <class>Securetrading_Stpp_Helper</class>
           </securetrading_stpp>
        </helpers>
        <blocks>
            <securetrading_stpp>
                <class>Securetrading_Stpp_Block</class>
            </securetrading_stpp>
        </blocks>
        <models>
            <securetrading_stpp>
                <resourceModel>securetrading_stpp_resource</resourceModel>
                <class>Securetrading_Stpp_Model</class>
            </securetrading_stpp>
            <securetrading_stpp_resource>
                <class>Securetrading_Stpp_Model_Resource</class>
                <entities>
                    <requests>
                        <table>securetrading_stpp_requests</table>
                    </requests>
                    <notifications>
                        <table>securetrading_stpp_notifications</table>
                    </notifications>
                    <transactions>
                        <table>securetrading_stpp_transactions</table>
                    </transactions>
                    <transaction_types>
                        <table>securetrading_stpp_transaction_types</table>
                    </transaction_types>
		    <billing_agreement_currency>
		      <table>securetrading_stpp_billing_agreement_currency</table>
		    </billing_agreement_currency>
		    <billing_agreement_paymenttypedescription>
		      <table>securetrading_stpp_billing_agreement_paymenttypedescription</table>
		    </billing_agreement_paymenttypedescription>
                </entities>
            </securetrading_stpp_resource>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <securetrading_stpp>
                        <class>Securetrading_Stpp_Model_Observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </securetrading_stpp>
                </observers>
            </checkout_submit_all_after>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <securetrading_stpp>
                        <class>Securetrading_Stpp_Model_Observer</class>
                        <method>onPaymentInfoBlockPrepareSpecificInformation</method>
                    </securetrading_stpp>
                </observers>
            </payment_info_block_prepare_specific_information>
	    <checkout_type_multishipping_create_orders_single>
              <observers>
                <securetrading_stpp>
                  <class>Securetrading_Stpp_Model_Observer</class>
                  <method>onCheckoutTypeMultishippingCreateOrdersSingle</method>
                </securetrading_stpp>
              </observers>
            </checkout_type_multishipping_create_orders_single>
            <adminhtml_init_system_config>
            	<observers>
            		<securetrading_stpp>
            			<class>Securetrading_Stpp_Model_Observer</class>
            			<method>onAdminhtmlInitSystemConfig</method>
            		</securetrading_stpp>
            	</observers>
            </adminhtml_init_system_config>
	    <checkout_type_onepage_save_order_after>
	      <observers>
		<securetrading_stpp>
		  <class>Securetrading_Stpp_Model_Observer</class>
		  <method>onCheckoutTypeOnepageSaveOrderAfter</method>
		</securetrading_stpp>
              </observers>
	    </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <securetrading_stpp_abandoned_order_cleanup>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>securetrading_stpp/cron::abandonedOrderCleanup</model>
                </run>
            </securetrading_stpp_abandoned_order_cleanup>
            <securetrading_stpp_request_table_cleanup>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>securetrading_stpp/cron::requestTableCleanup</model>
                </run>
            </securetrading_stpp_request_table_cleanup>
            <securetrading_stpp_update_old_orders>
            	<schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>securetrading_stpp/cron::updateOldOrders</model>
                </run>
            </securetrading_stpp_update_old_orders>
            <securetrading_stpp_update_sofort_transactions>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>securetrading_stpp/cron::updateSofortTransactions</model>
                </run>
            </securetrading_stpp_update_sofort_transactions>
        </jobs>
    </crontab>
    <default>
        <payment>
	    <securetrading_stpp_direct>
		<model>securetrading_stpp/payment_direct</model>
		<payment_action>authorize_capture</payment_action>
                <accepted_cards backend_model="securetrading_stpp/adminhtml_system_config_backend_multiselect" />
                <use_iframe>1</use_iframe>
		<iframe_width>100%</iframe_width>
                <iframe_height>600px</iframe_height>
                <stapi_alias backend_model="adminhtml/system_config_backend_encrypted" />
                <stapi_host backend_model="adminhtml/system_config_backend_encrypted" />
                <stapi_port backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_alias backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_username backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_password backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_verify_ca>1</ws_verify_ca>
                <transactionsearch_username backend_model="adminhtml/system_config_backend_encrypted" />
                <transactionsearch_password backend_model="adminhtml/system_config_backend_encrypted" />
                <transactionsearch_verify_ca>1</transactionsearch_verify_ca>
            </securetrading_stpp_direct>
	    <securetrading_stpp_tokenization>
		<model>securetrading_stpp/payment_tokenization</model>
		<use_iframe>1</use_iframe>
                <iframe_width>100%</iframe_width>
                <iframe_height>600px</iframe_height>
                <accepted_cards backend_model="securetrading_stpp/adminhtml_system_config_backend_multiselect" />
		<use_risk_decision>0</use_risk_decision>
		<use_account_check>0</use_account_check>
		<use_card_store>0</use_card_store>
		<max_saved_cc>10</max_saved_cc>
		<!--
                <stapi_alias backend_model="adminhtml/system_config_backend_encrypted" />
                <stapi_host backend_model="adminhtml/system_config_backend_encrypted" />
                <stapi_port backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_alias backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_username backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_password backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_verify_ca>1</ws_verify_ca>
                <transactionsearch_username backend_model="adminhtml/system_config_backend_encrypted" />
                <transactionsearch_password backend_model="adminhtml/system_config_backend_encrypted" />
                <transactionsearch_verify_ca>1</transactionsearch_verify_ca>
		-->
            </securetrading_stpp_tokenization>
            <securetrading_stpp_redirect>
                <model>securetrading_stpp/payment_redirect</model>
                <site_security_password backend_model="adminhtml/system_config_backend_encrypted" />
                <notification_password backend_model="adminhtml/system_config_backend_encrypted" />
                <payment_action>authorize_capture</payment_action>
                <ppg_use_iframe>1</ppg_use_iframe>
                <ppg_iframe_width>100%</ppg_iframe_width>
                <ppg_iframe_height>600px</ppg_iframe_height>
                <parent_css>st.magentoiframeparent</parent_css>
                <child_js>st.magentoiframechild</child_js>
                <stapi_alias backend_model="adminhtml/system_config_backend_encrypted" />
                <stapi_host backend_model="adminhtml/system_config_backend_encrypted" />
                <stapi_port backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_alias backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_username backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_password backend_model="adminhtml/system_config_backend_encrypted" />
                <ws_verify_ca>1</ws_verify_ca>
                <transactionsearch_username backend_model="adminhtml/system_config_backend_encrypted" />
                <transactionsearch_password backend_model="adminhtml/system_config_backend_encrypted" />
                <transactionsearch_verify_ca>1</transactionsearch_verify_ca>
            </securetrading_stpp_redirect>
        </payment>
    </default>
</config>