<?xml version="1.0"?>
<config>
  <sections>
    <securetrading_stpp translate="label" module="securetrading_stpp">
      <label>Secure Trading</label>
      <class>securetrading-section</class>
      <header_css>securetrading-header</header_css>
      <tab>sales</tab>
      <frontend_type>text</frontend_type>
      <sort_order>101</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
	<securetrading_stpp_redirect_config_basic type="group" translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading Payment Pages - Required Settings</label>
	  <comment>Must be modified before your store goes live.</comment>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	  <expanded>1</expanded>
	  <sort_order>0</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <active>
	      <config_path>payment/securetrading_stpp_redirect/active</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>0</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </active>
	    <site_reference>
	      <config_path>payment/securetrading_stpp_redirect/site_reference</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>1</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </site_reference>			     
	    <use_api>
	      <config_path>payment/securetrading_stpp_redirect/use_api</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>2</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_api>
	    <ws_username>
	      <config_path>payment/securetrading_stpp_redirect/ws_username</config_path>
	      <frontend_type>text</frontend_type>
	      <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
	      <sort_order>3</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_api>1</use_api>
	      </depends>
	    </ws_username>
	    <ws_password>
	      <config_path>payment/securetrading_stpp_redirect/ws_password</config_path>
	      <frontend_type>text</frontend_type>
	      <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
	      <sort_order>4</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_api>1</use_api>
	      </depends>
	    </ws_password>
	    <generate_ws_password>
	      <frontend_type>button</frontend_type>
	      <frontend_model>securetrading_stpp/adminhtml_system_config_fields_password_button</frontend_model>
	      <button_label><![CDATA[Generate Random Web Services Password]]></button_label>
	      <button_updates>payment_securetrading_stpp_redirect_config_basic_ws_password</button_updates>
	      <confirm_text><![CDATA[Are you sure you would like to generate a new Web Services password?\n\nGenerating a new password will replace the current value.\n\nIf you generate a new password you will also need to update the Web Services password in MyST.\n\nYou should only use this feature if your admin area is running HTTPS.]]></confirm_text>
	      <sort_order>5</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_api>1</use_api>
	      </depends>
	    </generate_ws_password>
	    <site_security_password>
	      <config_path>payment/securetrading_stpp_redirect/site_security_password</config_path>
	      <frontend_type>text</frontend_type>
	      <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
	      <sort_order>6</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </site_security_password>
	    <generate_site_security_password>
	      <frontend_type>button</frontend_type>
	      <frontend_model>securetrading_stpp/adminhtml_system_config_fields_password_button</frontend_model>
	      <button_label><![CDATA[Generate Random Site Security Password]]></button_label>
	      <button_updates>payment_securetrading_stpp_redirect_config_basic_site_security_password</button_updates>
	      <confirm_text><![CDATA[Are you sure you would like to generate a new site security password?\n\nGenerating a new password will replace the current value.\n\nIf you generate a new password you will also need to contact Secure Trading Support and ask them to update the site security password stored by Secure Trading.\n\nYou should only use this feature if your admin area is running HTTPS.]]></confirm_text>
	      <sort_order>7</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </generate_site_security_password>
	  </fields>
	</securetrading_stpp_redirect_config_basic>
	<securetrading_stpp_redirect_config_gateway type="group" translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading Payment Pages - Optional Settings</label>
	  <comment>Default values are provided but they should be reviewed before the store goes live.</comment>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	  <expanded>0</expanded>
	  <sort_order>9</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <label_display_settings>
	      <label>Display Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>0</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_display_settings>
	    <title>
	      <config_path>payment/securetrading_stpp_redirect/title</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>1</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </title>
	    <description>
	      <config_path>payment/securetrading_stpp_redirect/description</config_path>
	      <frontend_type>textarea</frontend_type>
	      <sort_order>2</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </description>
	    <ppg_use_iframe>
	      <config_path>payment/securetrading_stpp_redirect/ppg_use_iframe</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>3</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </ppg_use_iframe>
	    <ppg_iframe_height>
	      <config_path>payment/securetrading_stpp_redirect/ppg_iframe_height</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>4</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_use_iframe>1</ppg_use_iframe>
	      </depends>
	    </ppg_iframe_height>
	    <ppg_iframe_width>
	      <config_path>payment/securetrading_stpp_redirect/ppg_iframe_width</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>5</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_use_iframe>1</ppg_use_iframe>
	      </depends>
	    </ppg_iframe_width>
	    <label_version_specific_settings>
	      <label>Payment Pages Version Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>6</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_version_specific_settings>
	    <ppg_version>
	      <config_path>payment/securetrading_stpp_redirect/ppg_version</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_ppgVersion</source_model>
	      <sort_order>7</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <comment><![CDATA[The version number is used to change the type of styling used when rendering the Payment Pages.<br /><br />If you are using custom CSS and JS, and would like to upgrade from version 1 to version 2, you will need to click <a href="http://www.securetrading.com/paymentpages/customisation.html" target="_blank">here</a> and follow the instructions.]]></comment>
	    </ppg_version>
	    <st_profile>
	      <config_path>payment/securetrading_stpp_redirect/st_profile</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>8</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>2</ppg_version>
	      </depends>
	    </st_profile>
	    <skip_choice_page>
	      <config_path>payment/securetrading_stpp_redirect/skip_choice_page</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>9</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>2</ppg_version>
	      </depends>
	    </skip_choice_page>
	    <show_paymenttype_on_magento>
	      <config_path>payment/securetrading_stpp_redirect/show_paymenttype_on_magento</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>10</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>2</ppg_version>
		<skip_choice_page>1</skip_choice_page>
	      </depends>
	    </show_paymenttype_on_magento>
	    <accepted_cards>
	      <config_path>payment/securetrading_stpp_redirect/accepted_cards</config_path>
	      <frontend_type>multiselect</frontend_type>
	      <backend_model>securetrading_stpp/adminhtml_system_config_backend_multiselect</backend_model>
	      <source_model>securetrading_stpp/source_cardtypes</source_model>
	      <sort_order>11</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>2</ppg_version>
		<skip_choice_page>1</skip_choice_page>
		<show_paymenttype_on_magento>1</show_paymenttype_on_magento>
	      </depends>
	    </accepted_cards>
	    <parent_css>
	      <config_path>payment/securetrading_stpp_redirect/parent_css</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>12</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>1</ppg_version>
	      </depends>
	    </parent_css>
	    <child_css>
	      <config_path>payment/securetrading_stpp_redirect/child_css</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>13</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>1</ppg_version>
	      </depends>
	    </child_css>
	    <parent_js>
	      <config_path>payment/securetrading_stpp_redirect/parent_js</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>14</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>1</ppg_version>
	      </depends>
	    </parent_js>
	    <child_js>
	      <config_path>payment/securetrading_stpp_redirect/child_js</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>15</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ppg_version>1</ppg_version>
	      </depends>
	    </child_js>
	    <label_tokenization_settings>
	      <label>Tokenization Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>16</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_tokenization_settings>
	    <use_tokenization>
	      <config_path>payment/securetrading_stpp_redirect/use_tokenization</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>17</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <comment>If you enable this feature you must also configure the Secure Trading Tokenization module.</comment>
	    </use_tokenization>
	    <save_cc_question>
	      <config_path>payment/securetrading_stpp_redirect/save_cc_question</config_path>
	      <frontend_type>textarea</frontend_type>
	      <sort_order>18</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_tokenization>1</use_tokenization>
	      </depends>
	    </save_cc_question>
	    <label_other_settings>
	      <label>Other Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>19</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_other_settings>
	    <allowspecific>
	      <config_path>payment/securetrading_stpp_redirect/allowspecific</config_path>
	      <frontend_type>allowspecific</frontend_type>
	      <sort_order>20</sort_order>
	      <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </allowspecific>        
	    <specificcountry>
	      <config_path>payment/securetrading_stpp_redirect/specificcountry</config_path>
	      <frontend_type>multiselect</frontend_type>
	      <sort_order>21</sort_order>
	      <source_model>adminhtml/system_config_source_country</source_model>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<allowspecific>1</allowspecific>
	      </depends>
	    </specificcountry>
	    <payment_action>
	      <config_path>payment/securetrading_stpp_redirect/payment_action</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_paymentaction</source_model>
	      <sort_order>22</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </payment_action>
	    <settle_status>
	      <config_path>payment/securetrading_stpp_redirect/settle_status</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_settlestatus</source_model>
	      <sort_order>23</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<payment_action>authorize_capture</payment_action>
	      </depends>
	    </settle_status>
	    <settle_due_date>
	      <config_path>payment/securetrading_stpp_redirect/settle_due_date</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_settleduedate</source_model>
	      <sort_order>24</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </settle_due_date>
	    <ws_verify_ca>
	      <config_path>payment/securetrading_stpp_redirect/ws_verify_ca</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>25</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </ws_verify_ca>
	    <ws_ca_file>
	      <config_path>payment/securetrading_stpp_redirect/ws_ca_file</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>26</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ws_verify_ca>1</ws_verify_ca>
	      </depends>
	    </ws_ca_file>
	    <ppg_cancel_60107>
	      <label>Cancel Order on 60107 Error Code</label>
	      <tooltip>Applicable only if your Secure Trading account has RISKDEC requests enabled and the MyST Rule Manager has been updated to 'Update transaction to Stop Child AUTH ... if a generic request matches RISKDEC DENY'.  If you select 'Yes' you must also enable the 'Magento ECOM 60107' and 'Magento MOTO 60107 redirects' in the 'Payment pages redirects' section of MyST (see the readme for more information).  Selecting 'Yes' will cause AUTH/THREEDQUERY requests that return RISKDEC's DENY shieldstatuscode to be automatically updated to the 'Canceled' order state by putting them into payment review and denying the payment.  The customer will be redirected back to Magento.  If you select 'No' the order state will not change and the customer will remain on the Payment Pages.</tooltip>
	      <config_path>payment/securetrading_stpp_redirect/ppg_cancel_60107</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>27</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </ppg_cancel_60107>
	    <!--
	    <enable_declined_redirect>
	      <config_path>payment/securetrading_stpp_redirect/enable_declined_redirect</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>28</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </enable_declined_redirect>
	    -->
	  </fields>
	</securetrading_stpp_redirect_config_gateway>
	<securetrading_stpp_direct_config_basic type="group" translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading API - Basic Settings</label>
	  <comment>Must be modified before your store goes live.</comment>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	  <expanded>1</expanded>
	  <sort_order>6</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <active>
	      <config_path>payment/securetrading_stpp_direct/active</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>0</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </active>
	    <site_reference>
	      <config_path>payment/securetrading_stpp_direct/site_reference</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>1</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </site_reference>
	    <ws_username>
	      <config_path>payment/securetrading_stpp_direct/ws_username</config_path>
	      <frontend_type>text</frontend_type>
	      <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
	      <sort_order>2</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </ws_username>
	    <ws_password>
	      <config_path>payment/securetrading_stpp_direct/ws_password</config_path>
	      <frontend_type>text</frontend_type>
	      <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
	      <sort_order>3</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </ws_password>
	    <generate_ws_password>
	      <frontend_type>button</frontend_type>
	      <frontend_model>securetrading_stpp/adminhtml_system_config_fields_password_button</frontend_model>
	      <button_label><![CDATA[Generate Random Web Services Password]]></button_label>
	      <button_updates>payment_securetrading_stpp_direct_config_basic_ws_password</button_updates>
	      <confirm_text><![CDATA[Are you sure you would like to generate a new Web Services password?\n\nGenerating a new password will replace the current value.\n\nIf you generate a new password you will also need to update the Web Services password in MyST.\n\nYou should only use this feature if your admin area is running HTTPS.]]></confirm_text>
	      <sort_order>4</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </generate_ws_password>
	    <accepted_cards>
	      <config_path>payment/securetrading_stpp_direct/accepted_cards</config_path>
	      <frontend_type>multiselect</frontend_type>
	      <backend_model>securetrading_stpp/adminhtml_system_config_backend_multiselect</backend_model>
	      <source_model>securetrading_stpp/source_cardtypes</source_model>
	      <sort_order>5</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </accepted_cards>
	  </fields>
	</securetrading_stpp_direct_config_basic>
	<securetrading_stpp_direct_config_gateway type="group" translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading API - Optional Settings</label>
	  <comment>Default values are provided but they should be reviewed before the store goes live.</comment>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	  <expanded>0</expanded>
	  <sort_order>7</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <label_display_settings>
	      <label>Display Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>0</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_display_settings>
	    <title>
	      <config_path>payment/securetrading_stpp_direct/title</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>1</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </title>
	    <description>
	      <config_path>payment/securetrading_stpp_direct/description</config_path>
	      <frontend_type>textarea</frontend_type>
	      <sort_order>2</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </description>
	    <use_iframe>
	      <config_path>payment/securetrading_stpp_direct/use_iframe</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>3</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_iframe>
	    <iframe_height>
	      <config_path>payment/securetrading_stpp_direct/iframe_height</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>4</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_iframe>1</use_iframe>
	      </depends>
	    </iframe_height>
	    <iframe_width>
	      <config_path>payment/securetrading_stpp_direct/iframe_width</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>5</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_iframe>1</use_iframe>
	      </depends>
	    </iframe_width>
	    <show_start_date>
	      <config_path>payment/securetrading_stpp_direct/show_start_date</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>6</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </show_start_date>
	    <show_issue_number>
	      <config_path>payment/securetrading_stpp_direct/show_issue_number</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>7</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </show_issue_number>
	    <label_tokenization_settings>
	      <label>Tokenization Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>8</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_tokenization_settings>
	    <use_card_store>
	      <config_path>payment/securetrading_stpp_direct/use_card_store</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>9</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <comment>If you enable this feature you must also configure the Secure Trading Tokenization module.</comment>
	    </use_card_store>
	    <save_cc_question>
	      <config_path>payment/securetrading_stpp_direct/save_cc_question</config_path>
	      <frontend_type>textarea</frontend_type>
	      <sort_order>10</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_card_store>1</use_card_store>
	      </depends>
	    </save_cc_question>
	    <allow_billing_agreement_wizard>
	      <config_path>payment/securetrading_stpp_direct/allow_billing_agreement_wizard</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>11</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_card_store>1</use_card_store>
	      </depends>
	    </allow_billing_agreement_wizard>
	    <label_other_settings>
	      <label>Other Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>12</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_other_settings>
	    <allowspecific>
	      <config_path>payment/securetrading_stpp_direct/allowspecific</config_path>
	      <frontend_type>allowspecific</frontend_type>
	      <sort_order>13</sort_order>
	      <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </allowspecific>        
	    <specificcountry>
	      <config_path>payment/securetrading_stpp_direct/specificcountry</config_path>
	      <frontend_type>multiselect</frontend_type>
	      <sort_order>14</sort_order>
	      <source_model>adminhtml/system_config_source_country</source_model>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<allowspecific>1</allowspecific>
	      </depends>
	    </specificcountry>
	    <payment_action>
	      <config_path>payment/securetrading_stpp_direct/payment_action</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_paymentaction</source_model>
	      <sort_order>15</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </payment_action>
	    <settle_status>
	      <config_path>payment/securetrading_stpp_direct/settle_status</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_settlestatus</source_model>
	      <sort_order>16</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<payment_action>authorize_capture</payment_action>
	      </depends>
	    </settle_status>
	    <settle_due_date>
	      <config_path>payment/securetrading_stpp_direct/settle_due_date</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_settleduedate</source_model>
	      <sort_order>17</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </settle_due_date>
	    <ws_verify_ca>
	      <config_path>payment/securetrading_stpp_direct/ws_verify_ca</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>18</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </ws_verify_ca>
	    <ws_ca_file>
	      <config_path>payment/securetrading_stpp_direct/ws_ca_file</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>19</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<ws_verify_ca>1</ws_verify_ca>
	      </depends>
	    </ws_ca_file>
	    <use_3d_secure>
	      <config_path>payment/securetrading_stpp_direct/use_3d_secure</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>20</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_3d_secure>
	    <use_risk_decision>
	      <config_path>payment/securetrading_stpp_direct/use_risk_decision</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>21</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_risk_decision>
	    <use_account_check>
	      <config_path>payment/securetrading_stpp_direct/use_account_check</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>22</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_account_check>
	  </fields>
	</securetrading_stpp_direct_config_gateway>
	<securetrading_stpp_tokenization_config_basic type="group" translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading Tokenization - Required Settings</label>
	  <comment>Must be modified before your store goes live.</comment>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	  <expanded>1</expanded>
	  <sort_order>0</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <active>
	      <config_path>payment/securetrading_stpp_tokenization/active</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>0</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </active>
	    <config_fallback>
	      <config_path>payment/securetrading_stpp_tokenization/config_fallback</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>securetrading_stpp/source_configfallback</source_model>
	      <sort_order>1</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </config_fallback>
	    <accepted_cards>
	      <config_path>payment/securetrading_stpp_tokenization/accepted_cards</config_path>
	      <frontend_type>multiselect</frontend_type>
	      <backend_model>securetrading_stpp/adminhtml_system_config_backend_multiselect</backend_model>
	      <source_model>securetrading_stpp/source_cardtypes</source_model>
	      <sort_order>2</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </accepted_cards>
	  </fields>
	</securetrading_stpp_tokenization_config_basic>
	<securetrading_stpp_tokenization_config_gateway type="group" translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading Tokenization - Optional Settings</label>
	  <comment>Default values are provided but they should be reviewed before the store goes live.</comment>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	  <expanded>0</expanded>
	  <sort_order>7</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <label_display_settings>
	      <label>Display Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>0</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_display_settings>
	    <title>
	      <config_path>payment/securetrading_stpp_tokenization/title</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>1</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </title>
	    <description>
	      <config_path>payment/securetrading_stpp_tokenization/description</config_path>
	      <frontend_type>textarea</frontend_type>
	      <sort_order>2</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </description>
	    <use_iframe>
	      <config_path>payment/securetrading_stpp_tokenization/use_iframe</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>3</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_iframe>
	    <iframe_height>
	      <config_path>payment/securetrading_stpp_tokenization/iframe_height</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>4</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_iframe>1</use_iframe>
	      </depends>
	    </iframe_height>
	    <iframe_width>
	      <config_path>payment/securetrading_stpp_tokenization/iframe_width</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>5</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<use_iframe>1</use_iframe>
	      </depends>
	    </iframe_width>
	    <label_other_settings>
	      <label>Other Settings</label>
	      <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
	      <sort_order>6</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </label_other_settings>
	    <allowspecific>
	      <config_path>payment/securetrading_stpp_tokenization/allowspecific</config_path>
	      <frontend_type>allowspecific</frontend_type>
	      <sort_order>7</sort_order>
	      <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </allowspecific>        
	    <specificcountry>
	      <config_path>payment/securetrading_stpp_tokenization/specificcountry</config_path>
	      <frontend_type>multiselect</frontend_type>
	      <sort_order>8</sort_order>
	      <source_model>adminhtml/system_config_source_country</source_model>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <depends>
		<allowspecific>1</allowspecific>
	      </depends>
	    </specificcountry>
	    <max_saved_cc>
	      <config_path>payment/securetrading_stpp_tokenization/max_saved_cc</config_path>
	      <frontend_type>text</frontend_type>
	      <sort_order>9</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </max_saved_cc>	    
	    <use_3d_secure>
	      <config_path>payment/securetrading_stpp_tokenization/use_3d_secure</config_path>
	      <frontend_type>select</frontend_type>
	      <source_model>adminhtml/system_config_source_yesno</source_model>
	      <sort_order>10</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	    </use_3d_secure>
	  </fields>
      </securetrading_stpp_tokenization_config_gateway>
      </groups>   
    </securetrading_stpp>
  </sections>
  
  <securetrading_stpp_sections>
    <payment>
      <groups>
	<securetrading_stpp translate="label comment" module="securetrading_stpp">
	  <label>Secure Trading STPP</label>
	  <comment>Please choose from the following payment methods and ensure your website is PCI compliant.</comment>
	  <frontend_class>complex</frontend_class>
	  <frontend_model>securetrading_stpp/adminhtml_system_config_group</frontend_model>
	  <expanded>1</expanded>
	  <class>securetrading-section</class>
	  <header_css>securetrading-header</header_css>
	  <sort_order>101</sort_order>
	  <show_in_default>1</show_in_default>
	  <show_in_website>1</show_in_website>
	  <show_in_store>1</show_in_store>
	  <fields>
	    <securetrading_stpp_redirect type="group" translate="label header_comment" module="securetrading_stpp">
	      <label>Secure Trading Payment Pages</label>
	      <header_comment>Redirects your customers to Secure Trading's secure payment servers.</header_comment>
	      <help_urls>
	        <ppg>
		  <text>PPg Help</text>
		  <url>http://www.securetrading.com/files/documentation/Magento-PaymentPages-User-Guide-3-5.pdf</url>
		</ppg>
	      </help_urls>
	      <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	      <use_large_fieldset>1</use_large_fieldset>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <image_logo>st_logo_strapline_100_32.png</image_logo>
	      <activity_path>payment/securetrading_stpp_redirect/active</activity_path>
	      <fields>
		<securetrading_stpp_redirect_config_basic type="group" translate="label" module="securetrading_stpp">
		  <label>Required Settings</label>		      
		</securetrading_stpp_redirect_config_basic>
		<securetrading_stpp_redirect_config_gateway type="group" translate="label" module="securetrading_stpp">
		  <label>Optional Settings</label>
		</securetrading_stpp_redirect_config_gateway>
	      </fields>
	    </securetrading_stpp_redirect>
	    <securetrading_stpp_direct type="group" translate="label header_comment" module="securetrading_stpp">
	      <label>Secure Trading API</label>
	      <header_comment>Allows customers to make payments without leaving your store.</header_comment>
	      <help_urls>
		<api>
		  <text>API Help</text>
		  <url>http://www.securetrading.com/files/documentation/Magento-API-User-Guide-3-5.pdf</url>
		</api>
	      </help_urls>
	      <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	      <use_large_fieldset>1</use_large_fieldset>
	      <expanded>0</expanded>
	      <sort_order>102</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <image_logo>st_logo_strapline_100_32.png</image_logo>
	      <activity_path>payment/securetrading_stpp_direct/active</activity_path>
	      <fields>
		<securetrading_stpp_direct_config_basic type="group" translate="label" module="securetrading_stpp">
		  <label>Required Settings</label>
		</securetrading_stpp_direct_config_basic>
		<securetrading_stpp_direct_config_gateway type="group" translate="label" module="securetrading_stpp">
		  <label>Optional Settings</label>
		</securetrading_stpp_direct_config_gateway>
	      </fields>
	    </securetrading_stpp_direct>
	    <securetrading_stpp_tokenization type="group" translate="label header_comment" module="securetrading_stpp">
	      <label>Secure Trading Tokenization</label>
	      <header_comment>Tokenization improves the checkout experience by allowing the customer to store their payment details.</header_comment>
	      <help_urls>
	        <ppg>
		  <text>PPg Help</text>
		  <url>http://www.securetrading.com/files/documentation/Magento-PaymentPages-User-Guide-3-5.pdf</url>
		</ppg>
		<api>
		  <text>API Help</text>
		  <url>http://www.securetrading.com/files/documentation/Magento-API-User-Guide-3-5.pdf</url>
		</api>
	      </help_urls>
	      <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
	      <use_large_fieldset>1</use_large_fieldset>
	      <expanded>0</expanded>
	      <sort_order>103</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
	      <image_logo>st_logo_strapline_100_32.png</image_logo>
	      <activity_path>payment/securetrading_stpp_tokenization/active</activity_path>
	      <fields>
		<securetrading_stpp_tokenization_config_basic type="group" translate="label" module="securetrading_stpp">
		  <label>Required Settings</label>
		</securetrading_stpp_tokenization_config_basic>
		<securetrading_stpp_tokenization_config_gateway type="group" translate="label" module="securetrading_stpp">
		  <label>Optional Settings</label>
		</securetrading_stpp_tokenization_config_gateway>
	      </fields>
	    </securetrading_stpp_tokenization>
	  </fields>
	</securetrading_stpp>
      </groups>
    </payment>
  </securetrading_stpp_sections>
</config>