<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <securetrading_stpp_group translate="label comment" module="securetrading_stpp">
                    <label>SecureTrading STPP</label>
                    <comment>Please configure the interface you wish to use.</comment>
                    <frontend_class>complex</frontend_class>
                    <frontend_model>securetrading_stpp/adminhtml_system_config_group</frontend_model>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <securetrading_stpp_redirect type="group" translate="label comment" module="securetrading_stpp">
                            <label>SecureTrading Payment Pages</label>
                            <comment>Redirects your customers to SecureTrading's secure payment servers.</comment>
                            <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                            <expanded>0</expanded>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <securetrading_stpp_redirect_config_basic type="group" translate="label comment" module="securetrading_stpp">
                                    <label>Basic Configuration</label>
                                    <comment>Affects how Magento works with your payment method.</comment>
                                    <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                    <expanded>0</expanded>
                                    <sort_order>0</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <active>
                                            <config_path>payment/securetrading_stpp_redirect/active</config_path>
                                            <frontend_type>select</frontend_type>
1                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>0</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         </active>
                                         <title>
                                            <config_path>payment/securetrading_stpp_redirect/title</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>1</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         </title>
                                         <description>
                                            <config_path>payment/securetrading_stpp_redirect/description</config_path>
                                            <frontend_type>textarea</frontend_type>
                                            <sort_order>2</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </description>
                                        <allowspecific>
                                            <config_path>payment/securetrading_stpp_redirect/allowspecific</config_path>
                                            <frontend_type>allowspecific</frontend_type>
                                            <sort_order>3</sort_order>
                                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </allowspecific>        
                                        <specificcountry>
                                            <config_path>payment/securetrading_stpp_redirect/specificcountry</config_path>
                                            <frontend_type>multiselect</frontend_type>
                                            <sort_order>4</sort_order>
                                            <source_model>adminhtml/system_config_source_country</source_model>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </specificcountry>
                                        <ppg_use_iframe>
                                            <config_path>payment/securetrading_stpp_redirect/ppg_use_iframe</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>5</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </ppg_use_iframe>
                                        <ppg_iframe_height>
                                            <config_path>payment/securetrading_stpp_redirect/ppg_iframe_height</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>6</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </ppg_iframe_height>
                                        <ppg_iframe_width>
                                            <config_path>payment/securetrading_stpp_redirect/ppg_iframe_width</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>7</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </ppg_iframe_width>
                                    </fields>
                                </securetrading_stpp_redirect_config_basic>
                                <securetrading_stpp_redirect_config_gateway type="group" translate="label comment" module="securetrading_stpp">
                                    <label>Gateway Configuration</label>
                                    <comment>Affect how requests to and responses from the SecureTrading gateway are processed.</comment>
                                    <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                    <expanded>0</expanded>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <site_reference>
                                            <config_path>payment/securetrading_stpp_redirect/site_reference</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>0</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </site_reference>
                                        <use_site_security>
                                            <config_path>payment/securetrading_stpp_redirect/use_site_security</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>1</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_site_security>
                                        <site_security_password>
                                            <config_path>payment/securetrading_stpp_redirect/site_security_password</config_path>
                                            <frontend_type>text</frontend_type>
                                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                            <sort_order>2</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </site_security_password>
                                        <use_notification_password>
                                            <config_path>payment/securetrading_stpp_redirect/use_notification_password</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>3</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_notification_password>
                                        <notification_password>
                                            <config_path>payment/securetrading_stpp_redirect/notification_password</config_path>
                                            <frontend_type>text</frontend_type>
                                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                            <sort_order>4</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </notification_password>
                                        <parent_css>
                                            <config_path>payment/securetrading_stpp_redirect/parent_css</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>5</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </parent_css>
                                        <child_css>
                                            <config_path>payment/securetrading_stpp_redirect/child_css</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>6</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </child_css>
                                        <parent_js>
                                            <config_path>payment/securetrading_stpp_redirect/parent_js</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>7</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </parent_js>
                                        <child_js>
                                            <config_path>payment/securetrading_stpp_redirect/child_js</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>8</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </child_js>
                                        <!--
                                        <use_api>
                                            <config_path>payment/securetrading_stpp_redirect/use_api</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>9</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_api>
                                        -->
                                        <payment_action>
                                            <config_path>payment/securetrading_stpp_redirect/payment_action</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_paymentaction</source_model>
                                            <sort_order>10</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </payment_action>
                                        <settle_due_date>
                                            <config_path>payment/securetrading_stpp_redirect/settle_due_date</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_settleduedate</source_model>
                                            <sort_order>11</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </settle_due_date>
                                        <settle_status>
                                            <config_path>payment/securetrading_stpp_redirect/settle_status</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_settlestatus</source_model>
                                            <sort_order>12</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </settle_status>
                                    </fields>
                                </securetrading_stpp_redirect_config_gateway>
                            </fields>
                        </securetrading_stpp_redirect>
                        <!--
                        <securetrading_stpp_direct type="group" translate="label comment" module="securetrading_stpp">
                            <label>SecureTrading API</label>
                            <comment>Allows your store to capture credit card details.  Your store must be PCI compliant to use this payment method.</comment>
                            <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                            <expanded>0</expanded>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <securetrading_stpp_direct_config_basic type="group" translate="label comment" module="securetrading_stpp">
                                    <label>Basic Configuration</label>
                                    <comment>Affects how Magento works with your payment method.</comment>
                                    <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                    <expanded>0</expanded>
                                    <sort_order>0</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <active>
                                            <config_path>payment/securetrading_stpp_direct/active</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>0</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </active>
                                         <title>
                                             <config_path>payment/securetrading_stpp_direct/title</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>1</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                         </title>
                                        <description>
                                            <config_path>payment/securetrading_stpp_direct/description</config_path>
                                            <frontend_type>textarea</frontend_type>
                                            <sort_order>2</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </description>
                                        <allowspecific>
                                            <config_path>payment/securetrading_stpp_direct/allowspecific</config_path>
                                            <frontend_type>allowspecific</frontend_type>
                                            <sort_order>3</sort_order>
                                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </allowspecific>        
                                        <specificcountry>
                                            <config_path>payment/securetrading_stpp_direct/specificcountry</config_path>
                                            <frontend_type>multiselect</frontend_type>
                                            <sort_order>4</sort_order>
                                            <source_model>adminhtml/system_config_source_country</source_model>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </specificcountry>
                                        <api_use_iframe>
                                            <config_path>payment/securetrading_stpp_direct/api_use_iframe</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>6</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </api_use_iframe>
                                        <api_iframe_height>
                                            <config_path>payment/securetrading_stpp_direct/api_iframe_height</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>7</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </api_iframe_height>
                                        <api_iframe_width>
                                            <config_path>payment/securetrading_stpp_direct/api_iframe_width</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>8</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </api_iframe_width>
                                    </fields>
                                </securetrading_stpp_direct_config_basic>
                                <securetrading_stpp_direct_config_gateway type="group" translate="label comment" module="securetrading_stpp">
                                    <label>Gateway Configuration</label>
                                    <comment>Affect how requests to and responses from the SecureTrading gateway are processed.</comment>
                                    <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                    <expanded>0</expanded>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <site_reference>
                                            <config_path>payment/securetrading_stpp_direct/site_reference</config_path>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>0</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </site_reference>
                                        <connection>
                                            <config_path>payment/securetrading_stpp_direct/connection</config_path>
                                            <comment>You must configure the appropriate connection in the 'Connection Configuration' fieldset after selecting the connection method here.</comment>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_connection</source_model>
                                            <sort_order>1</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </connection>
                                        <use_3d_secure>
                                            <config_path>payment/securetrading_stpp_direct/use_3d_secure</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>2</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_3d_secure>
                                        <use_risk_decision>
                                            <config_path>payment/securetrading_stpp_direct/use_risk_decision</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>3</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_risk_decision>
                                        <use_card_store>
                                            <config_path>payment/securetrading_stpp_direct/use_card_store</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>4</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_card_store>
                                        <use_auto_card_store>
                                            <config_path>payment/securetrading_stpp_direct/use_auto_card_store</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>5</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </use_auto_card_store>
                                        <delay_risk_decision>
                                            <config_path>payment/securetrading_stpp_direct/delay_risk_decision</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>6</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </delay_risk_decision>
                                        <accepted_cards>
                                            <config_path>payment/securetrading_stpp_direct/accepted_cards</config_path>
                                            <frontend_type>multiselect</frontend_type>
                                            <backend_model>securetrading_stpp/adminhtml_system_config_backend_multiselect</backend_model>
                                            <source_model>securetrading_stpp/source_cardtypes</source_model>
                                            <sort_order>7</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </accepted_cards>
                                        <payment_action>
                                            <config_path>payment/securetrading_stpp_direct/payment_action</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_paymentaction</source_model>
                                            <sort_order>8</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </payment_action>
                                        <settle_due_date>
                                            <config_path>payment/securetrading_stpp_direct/settle_due_date</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_settleduedate</source_model>
                                            <sort_order>9</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </settle_due_date>
                                        <settle_status>
                                            <config_path>payment/securetrading_stpp_direct/settle_status</config_path>
                                            <frontend_type>select</frontend_type>
                                            <source_model>securetrading_stpp/source_settlestatus</source_model>
                                            <sort_order>10</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </settle_status>
                                    </fields>
                                </securetrading_stpp_direct_config_gateway>
                                <securetrading_stpp_direct_config_connections type="group" translate="label comment" module="securetrading_stpp">
                                    <label>Connection Configuration</label>
                                    <comment>Aggregates the configuration for all connection methods provided by this module.</comment>
                                    <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                    <expanded>0</expanded>
                                    <sort_order>2</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <securetrading_stpp_api_stapi_group type="group" translate="label comment">
                                            <label>ST API Settings</label>
                                            <comment>Contains ST API connection configuration.</comment>
                                            <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                            <sort_order>0</sort_order>
                                            <fields>
                                                <stapi_alias>
                                                    <config_path>payment/securetrading_stpp_direct/stapi_alias</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                                    <sort_order>0</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </stapi_alias>
                                                <stapi_host>
                                                    <config_path>payment/securetrading_stpp_direct/stapi_host</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                                    <sort_order>1</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </stapi_host>
                                                <stapi_port>
                                                    <config_path>payment/securetrading_stpp_direct/stapi_port</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                                    <sort_order>2</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </stapi_port>
                                             </fields>
                                        </securetrading_stpp_api_stapi_group>
                                        <securetrading_stpp_api_webservices_group type="group" translate="label comment">
                                            <label>Web Services Connections</label>
                                            <comment>Contains Web Services connection configuration.</comment>
                                            <frontend_model>securetrading_stpp/adminhtml_system_config_fieldset_fields</frontend_model>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                            <sort_order>1</sort_order>
                                            <fields>
                                                 <ws_alias>
                                                     <config_path>payment/securetrading_stpp_direct/ws_alias</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                                    <sort_order>0</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </ws_alias>
                                                <ws_username>
                                                    <config_path>payment/securetrading_stpp_direct/ws_username</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                                    <sort_order>1</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </ws_username>
                                                <ws_password>
                                                    <config_path>payment/securetrading_stpp_direct/ws_password</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                                    <sort_order>2</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </ws_password>
                                                <ws_verify_ca>
                                                    <config_path>payment/securetrading_stpp_direct/ws_verify_ca</config_path>
                                                    <frontend_type>select</frontend_type>
                                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                                    <sort_order>3</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </ws_verify_ca>
                                                <ws_ca_file>
                                                    <config_path>payment/securetrading_stpp_direct/ws_ca_file</config_path>
                                                    <frontend_type>text</frontend_type>
                                                    <sort_order>4</sort_order>
                                                    <show_in_default>1</show_in_default>
                                                    <show_in_website>1</show_in_website>
                                                    <show_in_store>1</show_in_store>
                                                </ws_ca_file>
                                             </fields>
                                        </securetrading_stpp_api_webservices_group>
                                    </fields>
                                </securetrading_stpp_direct_config_connections>
                             </fields>
                        </securetrading_stpp_direct>
                        -->
                    </fields>
                </securetrading_stpp_group>
            </groups>
        </payment>
    </sections>
</config>